{{- range $path, $_ := .Files.Glob "applications/*/Chart.yaml" }}
{{- $app := $.Files.Get $path | fromYaml }}
{{- range $stage_name, $stage := $.Values.stages }}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: {{ $stage_name }}-{{ $app.name }}
  namespace: homelab-infra
spec:
  requestedFreight:
  - origin:
      kind: Warehouse
      name: {{ $app.name }}
    sources:
      {{ $stage.sources | toYaml }}
  promotionTemplate:
    spec:
      vars:
      - name: gitRepo
        value: https://github.com/syoder89-homelab/homelab-infra
      - name: targetBranch
        value: {{ $stage.targetBranch }}/{{ $app.name }}
      - name: path_src
        value: ./src
      - name: path_out
        value: ./out
      steps:
      - task:
          name: prepare-workdir 
      # The config-generator chart needs access to the config manifests
      # Copy config manifests into config-generator chart
      - uses: copy
        config:
          inPath: {{`${{ vars.path_src }}`}}/config
          outPath: {{`${{ vars.path_src }}`}}/charts/config-generator/config/platform
      - uses: copy
        config:
          inPath: {{`${{ vars.path_src }}`}}/{{ dir $path }}/config
          outPath: {{`${{ vars.path_src }}`}}/charts/config-generator/config/application
      # Render the config files from templates
      - uses: helm-template
        config:
          releaseName: config-generator
          path: {{`${{ vars.path_src }}`}}/charts/config-generator
          outLayout: flat
          outPath: /tmp/values.yaml
          setValues:
            - key: stageName
              value: {{ $stage_name }}
            - key: envType
              value: {{ $stage.envType }}
            - key: appName
              value: {{ $app.name }}
          #valuesFiles:
          #- {{`${{ vars.path_src }}`}}/config/{{ $stage_name }}/{{ $app.name }}-values.yaml
          #- {{`${{ vars.path_src }}`}}/{{ dir $path }}/values/{{ $stage_name }}.yaml
      - uses: helm-template
        config:
          releaseName: {{ $app.releaseName | default $app.name }}
          namespace: {{ $app.namespace | default $app.name }}
          buildDependencies: true
          includeCRDs: true
          path: {{`${{ vars.path_src }}`}}/{{ dir $path }}
          outPath: {{`${{ vars.path_out }}`}}/deploy/{{ $app.name }}
          valuesFiles:
          - /tmp/values.yaml
      - task:
          name: push-manifests
        as: promotion
        vars:
        - name: asPR
          value: "{{ $stage.asPR }}"
        - name: targetBranch
          value: {{ $stage.targetBranch }}/{{ $app.name }}
      - uses: argocd-update
        config:
          apps:
          - name: {{ $stage_name }}-{{ $app.name }}
            sources:
            - repoURL: {{`${{ vars.gitRepo }}`}}
              desiredRevision: {{`${{ outputs.promotion.commit }}`}}
{{- end }}
{{- end }}