---
# Source: calico/charts/tigera-operator/templates/tigera-operator/00-uninstall.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: tigera-operator-uninstall
  namespace: tigera-operator
  labels:
    helm.sh/chart: "tigera-operator-v3.31.3"
    k8s-app: tigera-operator
  annotations:
    # Mark this Job as a pre-deletion hook. This will only be executed as part
    # of helm uninstall, in order to ensure the Installation is cleaned up prior to
    # tearing down the operator.
    helm.sh/hook: pre-delete
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: hook-succeeded
spec:
  template:
    metadata:
      name: "calico"
      labels:
        helm.sh/chart: "tigera-operator-v3.31.3"
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      tolerations:
        - effect: NoExecute
          operator: Exists
        - effect: NoSchedule
          operator: Exists
      restartPolicy: Never
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      serviceAccountName: tigera-operator
      containers:
      - name: cleanup-job
        image: quay.io/tigera/operator:v1.40.3
        args: ["-pre-delete"]
